<h2>{{title}}</h2>
<div class="answer-edit">
    <div class="form-group">
        <label for="text">Answer text : </label>
        <br />
        <textarea id="text" [(ngModel)]="answer.Text" placeholder="enter a suitable text ..." class="form-control"></textarea>
    </div>


    <div class="form-group">
        <label for="value">Score Value:</label>
        <br />
        <select id="value" name="value" [(ngModel)]="answer.Value">
            <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,5]" [value]="num" class="form-control">{{num}}</option>
        </select>
    </div>

</div>

<div class="commands">
    <button *ngIf="editMode" (click)="onSubmit(answer)" class="btn btn-success">
        Apply Changes
    </button>
    <button *ngIf="!editMode" (click)="onSubmit(answer)" class="btn btn-success">
        Create the Answer !
    </button>
    <button (click)="onBack()" class="btn btn-default">
        Cancel
    </button>
</div>
