<div class="quiz-edit">
    <h2>{{title}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{'has-error has-feedback':  hasError('Title') }">
            <label for="title">Quiz title :</label>
            <br />
            <!--<input type="text" id="title" [(ngModel)]="quiz.Title" placeholder="choose a title ..." class="form-control" />-->
            <input type="text" id="title" formControlName="Title" placeholder="choose a title ..." class="form-control" required />
            <span *ngIf="hasError('Title')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <div *ngIf="hasError('Title')" class="help-block">
                This is a required field : please insert valid title
            </div>
        </div>
        <div class="form-group">
            <label for="description">Quiz description :</label>
            <br />
            <input type="text" id="description" formControlName="Description" placeholder="enter a brief description ..." class="form-control" />
        </div>
        <div class="form-group">
            <label for="text">Quiz informative text :</label>
            <br />
            <input type="text" id="text" formControlName="Text" placeholder="enter a text ..." class="form-control" />
        </div>
        <div class="form-group" commands>
            <button *ngIf="editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">
                Apply Changes
            </button>
            <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">
                Create the Quiz !
            </button>

            <button *ngIf="!editMode" (click)="onBack()" class="btn btn-default">
                Cancel
            </button>

        </div>
    </form>
    <question-list [quiz]="quiz" *ngIf="editMode"></question-list>
    <result-list *ngIf="editMode" [quiz]="quiz"></result-list>

</div>

<!--<input *ngIf="editMode" type="button" value="Apply Changes" (click)="onSubmit(quiz)" class="btn btn-success" />
<input *ngIf="!editMode" type="button" value="Create the Quiz!" (click)="onSubmit(quiz)" class="btn btn-success" />
<input type="button" value="Cancel" (click)="onBack()" class="btn btn-default" />-->

<!--<h2>title}}</h2>
<div class="quiz-edit">
    <div>
        <label for="title">Quiz title :</label>
        <br />
        <input type="text" id="title" [(ngModel)]="quiz.Title" placeholder="choose a title ..." />
    </div>
    <div>
        <label for="description">Quiz description :</label>
        <br />
        <input type="text" id="description" [(ngModel)]="quiz.Description" placeholder="enter a brief description ..." />
    </div>
    <div>
        <label for="title">Quiz informative text :</label>
        <br />
        <input type="text" id="text" [(ngModel)]="quiz.Text" placeholder="enter a text ..." />
    </div>
    <div>
        <input *ngIf="editMode" type="button" value="Apply Changes" (click)="onSubmit(quiz)" />
        <input *ngIf="!editMode" type="button" value="Create the Quiz!" (click)="onSubmit(quiz)" />
        <input type="button" value="Cancel" (click)="onBack()" />
    </div>

    <question-list [quiz] ="quiz" *ngIf="editMode"></question-list>

    <result-list *ngIf="editMode" [quiz] ="quiz"></result-list>

</div>-->
